dev/target/build
dev/target/main/server_cert.pem
dev/target/firmware.bin
dev/target/dependencies.lock
dev/target/managed_components

dev/server/distrib/server_cert.pem

dev/server/backend/src/obj
dev/server/backend/src/bin

dev/server/frontend/src/node_modules
dev/server/frontend/src/package-lock.json