interface=${WIFI_INTERFACE}
driver=nl80211
ssid=${WIFI_SSID}
hw_mode=g
channel=${WIFI_CHANNEL}

# Wi-Fi 4
ieee80211n=1

# 40 MHz
ht_capab=[HT40+][SHORT-GI-40][DSSS_CCK-40]

# Security
wpa=2
wpa_passphrase=${WIFI_PASS}
wpa_key_mgmt=WPA-PSK
wpa_pairwise=CCMP
rsn_pairwise=CCMP